.container{
    height: 10vh;
    width: 50%;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    padding: auto;
    background-color: antiquewhite;
    border-radius: 30px;
    border-color: black;
    border-width: 10px;
}

.input{
    align-self: center;
}

.form{
    align-items: center;
}

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 40%;
	margin: auto;
	padding: 16px;
    margin-top: 50px;
    border-radius: 30px;
	background: #F7F7F7;
    border-color: #2EBC99;
    align-items: center;
    align-content: center;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 80%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
    border-color: #555;
    margin-left: 10%;
    border-radius: 30px;
	padding: 3%;
	color: #555;
    height: 15vh;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
    margin-left: 25%;
    /* margin: auto; */
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
    border-radius: 20px;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}

.querycontainer{
    width: fit-content; 
  /* To adjust the height as well */ 
  height: fit-content;
  min-height: 10vh;
  min-width: 60%;
  margin-left: 20%;
  margin-right: 10%;
  border-radius: 30px;
  margin-top: 20px;
  font-weight: 300;
  background-color: #C2F4AD;
  /* padding: 10%; */
}

.answerBody{
    padding: 4%;
    font-weight: 400;
}

.viewpresc{
    padding-left: 70%;
    padding-bottom: 2%;
    color: #1B6F06;
}

.btn{
    color: #1B6F06;

}

.body{
    min-height: 53.5vh;
}